@import url('https://fonts.googleapis.com/css2?family=K2D:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url(../assets/IMG/fondo.png);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'K2D', sans-serif;
    display: grid;
    width: auto;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}

/* ------ header----- */
header {
    grid-area: header;
    width: 100%;
    height: 4rem;
    text-indent: 0.625rem;
    color: aliceblue;
    background: linear-gradient(rgba(10, 83, 18, 1), rgba(6, 95, 25, 0.24));
    font-family: 'K2D', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 999;
}

header div h1{
    font-size: 2em;
    font-weight: 900;
    margin-bottom: -0.1rem;
}
header div p{
    text-indent: 12.5rem;
    margin:0;
}
.navBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.navBar a {
    text-decoration: none;
    color: black;
    margin: 0px 1.5rem 0px 0px;
    font-weight: 900;
}

.btInd {
    padding: 5px;
    width: 9.375rem;
    height: 1.875rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: .3125rem .3125rem .3125rem gray;
}

.btCont {
    padding: 5px;
    width: 9.375rem;
    height: 1.875rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: .3125rem .3125rem .3125rem gray;
}

/*--------- main------- */
main{
    grid-area: main;
}
.gridmain{
    display: grid;
    grid-template-columns:40% 60% ;
    grid-template-rows:  7rem 27.25rem;
    grid-template-areas: 
    "antetitulo antetitulo"
    "menuPrincipal articulo";
}
.antetitulo{
    grid-area: antetitulo;
}
.menuPrincipal{
    grid-area: menuPrincipal;
    width: 24.375rem;
}
.menuPrincipal div ol li {
    list-style: none;
    margin: 1.25rem 1.25rem 1.25rem 3rem;
}

.menuPrincipal div {
    margin-left: .625rem;
    padding: 1rem;
}

.menuPrincipal div h3 {
    font-family: 'K2D', sans-serif;
    font-size: 1.5rem;
}

.menuPrincipal div ol li a {
    text-decoration: none;
    color: black;
    margin-left: 1.25rem;
}
.antetitulo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.antetitulo h2{
    color: white;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titElec {
    text-align: center;
    width: 12.5rem;
    height: 3.125rem;
    background-color: blue;
    border-radius: .625rem;
    box-shadow: .3125rem .3125rem .3125rem gray;
}

.titPlom {
    text-align: center;
    width: 12.5rem; 
    height: 3.125rem;
    background-color: rgb(217, 63, 5, 90%);
    border-radius: .625rem;
    box-shadow: .3125rem .3125rem .3125rem gray;
}

.titPlom {
    text-align: center;
    width: 12.5rem;
    height: 3.125rem;
    background-color: rgb(217, 63, 5, 90%);
    border-radius: .625rem;
    box-shadow: .3125rem .3125rem .3125rem gray;
}

.titPint {
    text-align: center;
    width: 12.5rem;
    height: 3.125rem;
    background-color: black;
    border-radius: .625rem;
    box-shadow: .3125rem .3125rem .3125rem gray;
}

.titConst {
    text-align: center;
    width: 12.5rem;
    height: 3.125rem;
    background-color: rgb(189, 255, 0);
    border-radius: .625rem;
    box-shadow: .3125rem .3125rem .3125rem gray;
}

.titCont {
    text-align: center;
    width: 12.5rem;
    height: 3.125rem;
    background-color: blue;
    border-radius: .625rem;
    box-shadow: .3125rem .3125rem .3125rem gray;
}

h3 {
    color: white;
    font-size: 1rem;
    font-weight: 900;
}
/* ------Articulo de presentacion------- */
.menuArticulo {
    width: 100%;
    height: 400px;
    background-color: rgba(128, 128, 128, 0.575);
    display: flex;
    margin-right: 6.25rem;
    font-weight: 700;
    margin-bottom: 3.125rem;
}

.menuArticulo p {
    padding: 9rem;
    color: rgb(0, 0, 0);
    font-size: 1.25rem;
}

.imgArticulo img {
    object-fit: contain;
    margin-top: 3.125rem;
    margin-right: 5rem;
    width: 18.75rem;
    height: 18.75rem;
    border-radius: 50%;
}
/* ---------botones del menu principal -------*/
.mpElec {
    padding: 5px;
    width: 150px;
    height: 35px;
    background-color: rgba(0, 0, 255, 0.596);
    border-radius: 10px;
    box-shadow: .3125rem .3125rem .3125rem gray;
}

.mpPlom {
    padding: 5px;
    width: 150px;
    height: 35px;
    background-color: rgb(217, 63, 5, 90%);
    border-radius: 10px;
    box-shadow: .3125rem .3125rem .3125rem gray;
}

.mpPint {
    padding: 5px;
    width: 150px;
    height: 35px;
    background-image: url(../assets/IMG/BOTONLollipop-Rainbox-Swirl.jpg);
    border-radius: 10px;
    box-shadow: .3125rem .3125rem .3125rem gray;
}

.mpCons {
    padding: 5px;
    width: 150px;
    height: 35px;
    background-color: rgb(189, 255, 0);
    border-radius: 10px;
    box-shadow: .3125rem .3125rem .3125rem gray;
}

/* -----articulos y listas----- */
.articulo{
    grid-area: articulo;
    height: 24rem;
    width: 32rem;
    align-items: center;
    margin: 1.25rem .625rem .625rem 0 ;
}
.articulo ul {
    padding-left: 1.56rem;
}
.articulo ul li{
    margin-left: .625rem;
}
.listaElec {
    font-size: 1.50rem;
    color: white;
    height: 24rem;
    width: 32rem;
    border-radius: .625rem .625rem 8rem .625rem;
    background-image: url(../assets/IMG/Electricidad.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 1.75rem .625rem .625rem .625rem ;
}

.listaPlomero {
    background-image: url(../assets/IMG/plomero.png);
    background-position: center;
    color: white;
    height: 24rem;
    width: 32rem;
    background-repeat: no-repeat;
    border-radius: .625rem .625rem 8rem .625rem;
    font-size: 1.50rem;
    padding: 2.25rem .625rem 2.25rem .625rem ;
}

.listaPintor {
    background-image: url(../assets/IMG/pintordg.png);
    background-position: center;
    color: white;
    height: 24rem;
    width: 32rem;
    background-repeat: no-repeat;
    border-radius: .625rem .625rem 8rem .625rem;
    font-size: 1.50rem;
    padding: 3.25rem .625rem 3.25rem .625rem ;
}

.listaConst {
    background-image: url(../assets/IMG/constructor.png);
    background-position: center;
    color: white;
    height: 24rem;
    width: 32rem;
    background-repeat: no-repeat;
    border-radius: .625rem .625rem 8rem .625rem;
    font-size: 1.50rem;
    padding-top: 3.25rem;
    padding-bottom: 3.25rem;
}

/*--------------formulario con GRID---------*/
.gridFormulario{
    padding: .625rem;
    background-color: #4CAF50;
    border: solid rgba(0, 0, 0, 0.61) .0300rem;
    border-radius: .313rem;
    display:grid;
    grid-template: 1.875rem 12.5rem 4.375rem 3.125rem /12.5rem 18rem;
    grid-template-areas: 
    "t1 t1"
    "datos consul"
    "selec selec"
    ". enviar";
}
.t1{
    grid-area: t1;
    font-size: 1rem;
    font-weight: 800;
    display: flex;
    flex-direction: row;
    align-items:center;
}
.datos{
    grid-area: datos;
    display: flex;
    flex-direction: column;
}
.consul{
    grid-area:consul;
}
.selec{
    grid-area: selec;
    text-align: center;
    font-size: 0.8rem;
}
.enviar{
    grid-area: enviar;
    display: flex;
    flex-direction: row ;
    justify-content:right;
    align-items: center;
    padding:0 1.25rem .625rem 0;
}
.boton{
    width: 3.125rem;
    height: 1.5625rem;
    border-radius: .125rem;
}
.selec input{
    width: auto;
    margin: .625rem;
}

/*---------footer-----------*/
footer {
    grid-area: footer;
    background: linear-gradient(rgba(182, 218, 173, 0.473), rgba(10, 83, 18, 1));
    color: rgb(255, 255, 255);
    height: 6.25rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: .625rem;
}

footer div p {
    margin: 3rem 1rem 0.25rem 1rem;
}

.siganosFoot {
    margin-right: 3.125rem;
}

.siganosFoot p {
    margin: 0;
    padding: 0;
    color: black;
    font-size: 1.5rem;
}

li {
    font-weight: 700;
}


    /* ------media queries---- */
@media screen and (max-width:1024px) {
    .gridFormulario{
        padding: .625rem;
        display:grid;
        grid-template: 1.875rem 12.5rem 4.375rem 3.125rem / 12.5rem 16rem;
        grid-template-areas: 
        "t1 t1"
        "datos consul"
        "selec selec"
        ". enviar";
    }
    .menuArticulo p{
        padding: 6.25rem;
    }
}
@media screen and (max-width:901px){
    .gridmain{
        display: grid;
        grid-template-columns:40% 60% ;
        grid-template-rows:  6rem 25.25rem;
        grid-template-areas: 
        "antetitulo antetitulo"
        "menuPrincipal articulo";
    }
    .menuPrincipal div h3{
        font-size: 1.25rem ;
    }
    .articulo{
        width: 21.5rem;
        margin: 3.125rem .625rem .625rem 0 ;
    }
    .articulo ul li{
        font-size: 1.3rem;
    }
    .listaElec{
        height: 24rem;
        width: 25rem;
    }
    .listaPlomero {
            height: 24rem;
            width: 25rem;
        }
    .listaPintor{
        height: 24rem;
        width: 25rem;
    }
    .listaConst{
        height: 24rem;
        width: 25rem;
    }
    .menuArticulo{
        display: flex;
        flex-direction: row;
        justify-content: center ;
        align-items: center;
    }
    .imgArticulo img{
        size-adjust: 200px ;
        margin-right: .625rem;
    }
    .menuArticulo p{
        font-size: 1.2rem;
        padding: .625rem;
        margin: .625rem;
    }
    form{
        width:fit-content;
    }
    .gridFormulario{
        grid-template: 1.875rem 12.5rem 4.375rem 3.125rem / 12.5rem 12rem;
    }
    .consul{
        width: auto;
        height: 10.9375rem;
    }
    .consul textarea{
        height: 10rem; 
        width: 12rem;
    }
}

@media screen and (max-width:832px){
    .gridFormulario{
        width: auto;
        padding: .625rem;
        display:grid;
        grid-template-columns: 12.5rem 11rem;
        grid-template-rows:  1.875rem 12.5rem 4.375rem 3.125rem;
        grid-template-areas: 
        "t1 t1"
        "datos consul"
        "selec selec"
        ". enviar";
    }
    .consul textarea{
        height: 10rem; 
        width: 11rem;
    }
}

@media screen and (max-width:690px) {
    header div h1 {
        font-size: 1.9rem;
    }
    header div p {
        text-indent: 12rem;
    }
    .navBar {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .navBar a {
        text-decoration: none;
        color: black;
        margin: 0px 1rem 0px 0px;
        font-weight: 900;
    }
    .btInd {
        text-indent: 0;
        padding: 1px;
        width: 6.4rem;
        height: 1.6rem;
        background-color: white;
        border-radius: .625rem;
        box-shadow: .3125rem .3125rem .3125rem gray;
    }
    .btCont {
        text-indent: 0;
        padding: 1px;
        width: 6.4rem;
        height: 1.6rem;
        background-color: white;
        border-radius: .625rem;
        box-shadow: .3125rem .3125rem .3125rem gray;
    }
}

@media screen and (max-width:576px){
    header div h1{
        font-size: 1.5rem;
    }
    header div p{
        text-indent: 7.4rem;
    }

}
@media screen and (max-width:426px){
    body{
        letter-spacing: -0.05em;
    }
    header{
        max-width: 100vw;
        display: flex;
        align-items: center;
    }
    header div h1{
        font-size: 1.133rem;
    }
    header div p{
        font-size: 0.8rem;
        text-indent: 5.3rem;
    }
    .navBar a{
        margin: .2rem;
    }
    .btInd {
        font-size: 0.85rem;
        padding: .125rem;
        width:4.5rem;
        height: 1.5rem ;
    }
    .btCont {
        font-size: 0.85rem;
        padding: .125rem;
        width: 4.6rem;
        height: 1.5rem;
    }
    /* main mobiles */
    .gridmain{
        align-items: center;
        display: grid;
        grid-template-columns: 14.25rem 11.5rem;
        grid-template-rows:  50% 50%;
        grid-template-areas: 
        "menuPrincipal antetitulo"
        "articulo .";
    }
    .menuPrincipal div {
        margin-left: .3125rem;
        padding: .3125rem;
    }
    .menuArticulo div h3{
        font-size: 10rem;
    }
    .menuPrincipal div ol li a{
    margin-left: 0;
    }
    .mpElec {
        width:6.4375rem;
        height:fit-content;
    }
    
    .mpPlom {
        width:6.4375rem;
        height:fit-content;
    }
    .mpPint {
        width:6.4375rem;
        height:fit-content;
    }
    .mpCons {
        width:6.4375rem;
        height:fit-content;
    }
    .menuArticulo p{
        font-size: 1rem;
    }
    .imgArticulo img{
        width: 9rem;
        height: 9rem;
        border-radius: 50%;
    }
    .antetitulo {
        width: 100%;
        display: flex;
        justify-content: left;
        align-items: center;
    }
    .articulo{
        margin-left: .8rem;
        height: 25rem;
    }
    .titElec {
        width: fit-content;
        text-align: center;
        height: 3.125rem;
        background-color: blue;
        padding: 1rem;
        border-radius: .625rem;
        box-shadow: .3125rem .3125rem .3125rem gray;
    }
    .titPlom {
        width: fit-content;
        text-align: center; 
        height: 3.125rem;
        background-color: rgb(217, 63, 5, 90%);
        padding: 1rem;
        border-radius: .625rem;
        box-shadow: .3125rem .3125rem .3125rem gray;
    }
    
    .titPlom {
        width: fit-content;
        text-align: center;
        height: 3.125rem;
        padding: 1rem;
        border-radius: .625rem;
        box-shadow: .3125rem .3125rem .3125rem gray;
    }
    
    .titPint {
        width: fit-content;
        text-align: center;
        height: 3.125rem;
        padding: 1rem;
        border-radius: .625rem;
        box-shadow: .3125rem .3125rem .3125rem gray;
    }
    
    .titConst {
        width: fit-content;
        text-align: center;
        height: 3.125rem;
        padding: 1rem;
        border-radius: .625rem;
        box-shadow: .3125rem .3125rem .3125rem gray;
    }
    
    .titCont {
        width: fit-content;
        text-align: center;
        height: 3.125rem;
        padding: 1rem;
        border-radius: .625rem;
        box-shadow: .3125rem .3125rem .3125rem gray;
    }
    .listaElec{
        height: 22rem;
    }
    .listaPintor{
        height: 22rem;
    }
    .listaConst{
        height: 22rem;
    }
    .listaPlomero{
        height: 22rem;
        padding: 1.25rem 0.625rem 2.25rem 0.625rem;
    }
    div form{
        height: 350px;
    }
    footer{
        max-width: 100vw;
    }
    footer div p{
        font-size: 0.7rem;
    }
    .siganosFoot {
        margin-right:0.3rem;
    }
}
@media screen and (max-width:376px){
    header div h1{
        font-size: 1rem;
        text-indent: .1875rem;
    }
    header div p{
        text-indent: 3.5rem;
    }
    .gridmain{
        grid-template-columns: 14rem 9.1875rem;
    }
    .menuArticulo{
        margin-right: 0px;
    }
    .menuArticulo img{
        margin-top: 0px;
    }
    .listaElec{
        width: 22rem;
    }
    .listaPintor{
        width: 22rem;
    }
    .listaPlomero{
        width: 22rem;
    }
    .listaConst{
        width: 22rem;
        padding-top: 2.25rem;
    }
    .antetitulo {
        font-size: 0.8rem ;
        width:fit-content;
    }
    .menuPrincipal{
        width: 18.75rem;
    }
    .gridFormulario{
        padding: .300rem;
        display:grid;
        grid-template: 1.875rem 12.5rem 4.375rem 3.125rem / 10rem 11rem;
        grid-template-areas: 
        "t1 t1"
        "datos consul"
        "selec selec"
        ". enviar";
    }
    .datos input{
        width: 9rem;
    }
}
@media screen and (max-width:321px){
    .gridmain{
        grid-template-columns: 12.24rem 7.75rem;    
    }
    .menuArticulo{
        margin-right: 0px;
    }
    .menuArticulo img{
        margin-top: 0px;
        width: 6rem;
        height: 6rem;
    }
    .titElec{
        padding: 0.5rem;
    }
    .titPint{
        padding: 0.5rem;
    }
    .titPlom{
        padding: 0.5rem;
    }
    .titConst{
        padding: 0.5rem;
    }
    .titCont{
        padding: 0.5rem;
    }
    .articulo {
        width: 18.5rem;
    }
    .listaElec{
        width: 19.375rem;
    }
    .articulo ul li {
        font-size: 1.18rem;
    }
    .listaPintor{
        width: 19.375rem;    
    }
    .listaPlomero{
        width: 19.375rem;    
    }
    .listaConst{
        width: 19.375rem;
        padding-top: 2.25rem;
    }
    .antetitulo {
        font-size: 0.8rem ;
        width:fit-content;
    }
    .menuPrincipal{
        width: 18.75rem;
    }
    .articulo {
        margin-left: 0.12rem;
    }
    .gridFormulario{
        padding: .300rem;
        display:grid;
        grid-template: 1.875rem 12.5rem 4.375rem 3.125rem / 9.5rem 9.5rem;
        grid-template-areas: 
        "t1 t1"
        "datos consul"
        "selec selec"
        ". enviar";
    }
    .consul textarea{
        width: 9.6rem;
    }
    .datos input{
        width: 8.5rem;
    }
    .siganosFoot p{
        font-size: 1.2rem;
    }
    .siganosFoot a img{
        width: 1.875rem;
    }

}