@import url('https://fonts.googleapis.com/css2?family=K2D:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url(../assets/IMG/fondo.png);
    background-size:auto;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'K2D', sans-serif;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}
/* ------ footer----- */
header {
    width: 100%;
    height: 4rem;
    text-indent: 0.625rem;
    color: aliceblue;
    background: linear-gradient(rgba(10, 83, 18, 1), rgba(6, 95, 25, 0.24));
    font-family: 'K2D', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 999;
}

header div p {
    text-indent: 12.8rem;
}
.navBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.navBar a {
    text-decoration: none;
    color: black;
    margin: 0px 1.5rem 0px 0px;
    font-weight: 900;
}

.btInd {
    padding: 5px;
    width: 9.375rem;
    height: 1.875rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: .3125rem .3125rem .3125rem gray;
}

.btCont {
    padding: 5px;
    width: 9.375rem;
    height: 1.875rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: .3125rem .3125rem .3125rem gray;
}

/*--------- main------- */
.gridmain{
    display: grid;
    grid-template-columns:1fr 1fr ;
    grid-template-rows:  6.25rem 25.25rem;
    grid-template-areas: 
    "antetitulo antetitulo"
    "menuPrincipal articulo";
}
.antetitulo{
    grid-area: antetitulo;
}
.menuPrincipal{
    grid-area: menuPrincipal;
}
.articulo{
    grid-area: articulo;
    height: 24rem;
    width: 32rem;
}


.menuPrincipal div ol li {
    list-style: none;
    margin: 1.25rem 1.25rem 1.25rem 3rem;
}

.menuPrincipal div {
    margin-left: .625rem;
    padding: 1rem;
}

.menuPrincipal div h3 {
    font-family: 'K2D', sans-serif;
    font-size: 1.5rem;
}

.menuPrincipal div ol li a {
    text-decoration: none;
    color: black;
    margin-left: 1.25rem;
}
.antetitulo{
    width: 100%;
    height: 6.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.antetitulo h2{
    color: white;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titElec {
    text-align: center;
    width: 12.5rem;
    height: 3.125rem;
    background-color: blue;
    border-radius: 10px;
    box-shadow: .3125rem .3125rem .3125rem gray;
}

.titPlom {
    text-align: center;
    width: 12.5rem; 
    height: 3.125rem;
    background-color: rgb(217, 63, 5, 90%);
    border-radius: 10px;
    box-shadow: .3125rem .3125rem .3125rem gray;
}

.titPlom {
    text-align: center;
    width: 12.5rem;
    height: 3.125rem;
    background-color: rgb(217, 63, 5, 90%);
    border-radius: 10px;
    box-shadow: .3125rem .3125rem .3125rem gray;
}

.titPint {
    text-align: center;
    width: 12.5rem;
    height: 3.125rem;
    background-color: black;
    border-radius: 10px;
    box-shadow: .3125rem .3125rem .3125rem gray;
}

.titConst {
    text-align: center;
    width: 12.5rem;
    height: 3.125rem;
    background-color: rgb(189, 255, 0);
    border-radius: 10px;
    box-shadow: .3125rem .3125rem .3125rem gray;
}

.titCont {
    text-align: center;
    width: 12.5rem;
    height: 3.125rem;
    background-color: blue;
    border-radius: 10px;
    box-shadow: .3125rem .3125rem .3125rem gray;
}

h3 {
    color: white;
}

.menuArticulo {
    width: 100%;
    height: 400px;
    background-color: rgba(128, 128, 128, 0.575);
    display: flex;
    margin-right: 6.25rem;
    font-weight: 700;
    margin-bottom: 3.125rem;
}

.menuArticulo p {
    padding: 9rem;
    color: rgb(0, 0, 0);
    font-size: 1.25rem;
}

.imgArticulo img {
    object-fit: contain;
    margin-top: 3.125rem;
    margin-right: 5rem;
    width: 18.75rem;
    height: 18.75rem;
    border-radius: 50%;
}

.menuPrincipal {
    display: flex;
}

.mpElec {
    padding: 5px;
    width: 150px;
    height: 35px;
    background-color: blue;
    border-radius: 10px;
    box-shadow: .3125rem .3125rem .3125rem gray;
}

.mpPlom {
    padding: 5px;
    width: 150px;
    height: 35px;
    background-color: rgb(217, 63, 5, 90%);
    border-radius: 10px;
    box-shadow: .3125rem .3125rem .3125rem gray;
}

.mpPint {
    padding: 5px;
    width: 150px;
    height: 35px;
    background-image: url(../assets/IMG/BOTONLollipop-Rainbox-Swirl.jpg);
    border-radius: 10px;
    box-shadow: .3125rem .3125rem .3125rem gray;
}

.mpCons {
    padding: 5px;
    width: 150px;
    height: 35px;
    background-color: rgb(189, 255, 0);
    border-radius: 10px;
    box-shadow: .3125rem .3125rem .3125rem gray;
}

/*
.imgElec {
    height: 24rem;
    width: 32rem;
    align-items: center;
    margin-bottom: 1.25rem;
}
*/
.listaElec {

    color: white;
    position: center;
    height: 24rem;
    width: 32rem;
    background-repeat: no-repeat;
    border-radius: .625rem .625rem 8rem .625rem;
    background-image: url(../assets/IMG/Electricidad.jpeg);
}

.articulo ul {
    padding-left: 1.56rem;
    text-indent: 0;
}

.imgPlom {
    height: 24rem;
    width: 32rem;
    align-items: center;
    margin-bottom: 1.25rem;
}

.listaPlomero {
    background-image: url(../assets/IMG/plomero.png);
    color: white;
    position: center;
    height: 24rem;
    width: 32rem;
    background-repeat: no-repeat;
    border-radius: .625rem .625rem 8rem .625rem;
}

.imgPlom ul {
    padding-left: 1.56rem;
    text-indent: 0;
}

.imgPint {
    height: 24rem;
    width: 32rem;
    align-items: center;
    margin-bottom: 1.25rem;
}

.listaPintor {
    background-image: url(../assets/IMG/pintordg.png);
    color: white;
    position: center;
    height: 24rem;
    width: 32rem;
    background-repeat: no-repeat;
    border-radius: .625rem .625rem 8rem .625rem;
}

.imgPint ul {
    padding-left: 1.56rem;
    text-indent: 0;
}

.imgConst {
    height: 24rem;
    width: 32rem;
    align-items: center;
    margin-bottom: 1.25rem;
}

.listaConst {
    background-image: url(../assets/IMG/constructor.png);
    color: white;
    position: center;
    height: 24rem;
    width: 32rem;
    background-repeat: no-repeat;
    border-radius: .625rem .625rem 8rem .625rem;
}

.imgConst ul {
    padding-left: 1.56rem;
    text-indent: 0;
}
/*--------------formulario con GRID---------*/

.gridFormulario{
    width: 500px;
    background-color: #4CAF50;
    display:grid;
    column-gap: .9375rem;
    grid-template: 50px 200px 100px 30px /200px 300px;
    grid-template-areas: 
    "t1 t1"
    "datos consul"
    "selec selec"
    ". enviar";
}
.t1{
    grid-area: t1;
    font-size: 1rem;
    font-weight: 800;
    display: flex;
    flex-direction: row;
    align-items:end;
}
.datos{
    grid-area: datos;
}
.consul{
    grid-area:consul;
}
.selec{
    grid-area: selec;
}
.enviar{
    width: 6.25rem;
    height: 1.875rem;
    grid-area: enviar;
}

/*---------footer-----------*/
footer {
    background: linear-gradient(rgba(182, 218, 173, 0.473), rgba(10, 83, 18, 1));
    color: rgb(255, 255, 255);
    height: 6.25rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0;
}

footer div p {
    margin: 3rem 1rem 0.25rem 1rem;
}

.siganosFoot {
    margin-right: 3.125rem;
}

.siganosFoot p {
    margin: 0;
    padding: 0;
    color: black;
    font-size: 1.5rem;
}

li {
    font-weight: 700;
}

